h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.9em;
}

h3 {
    font-size: 1.7em;
}

h4 {
    font-size: 1.4em;
}

p {
    font-size: 1.05em;

}

* {
    color: white;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

footer {
    padding: 1.4em;
    background-color: #4e4848;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1.3em;

}

nav {
    background-color: #4e4848;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.4em;
}

a {
    text-decoration: none;
}

.form-group label,
.form-group input {
    display: block;
    margin-top: 10px;
}

input {
    border-radius: 5px;
    padding: 6px;
    border: none;
    color: black;
}

.submit {
    margin-top: 13px;
    background-color: #2e2b2b;
    padding: 10px;
    border-radius: 10px;
    color: white;
   
}

.box {
    background-color: #4e4848;
    width: 55vw;
    border-radius: 10px;
    padding: 30px;

}

.login-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 0.5em;

}

.login-box form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width:800px) {
    .login-box {
        flex-direction: column;
    }
}

.error {
    color: rgb(195, 25, 25)
}

.form-reserva {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.grid-palcos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.palcos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 70px;
    display: none;
}

.form-palcos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
}

@media screen and (max-width:750px) {
    .form-palcos {
        flex-direction: column;
    }
}
button{
    border-radius: 5px;
    padding: 10px;
}
.botones-dias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.botones-dias button{
    background-color: #b3a1a1;
}
.form-palcos-alinear{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.form-palcos-alinear input{
    align-self: center;
}
.reservar-contenido{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.modal{
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.5);
    justify-content:center;
    align-items:center;
}

.modal-contenido{
    background:white;
    padding:20px;
    border-radius:10px;
    min-width:300px;
    text-align:center;
}
.modal-mensaje, .cerrar-modal{
    
    color: black;
}
.cerrar-modal{
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}