<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body>
    <header th:replace="~{layout :: header}">

    </header>
    <main>
        <div class="box" style="text-align: center;">
            <h1>Reserva de palcos para carrera oficial</h1>
            <form action="/reservar" method="get">
                <input type="submit" value="Reservar palco">
            </form>
        </div>
    </main>
    <footer th:replace="~{layout :: footer}"></footer>
</body>
</html>