<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>

<body>
    <header th:replace="~{layout :: header}">

    </header>
    <main>
        <div class="box reservar-contenido">
            <div class="botones-dias">

                <div th:each="dia : ${dias}">
                    <button type="button" th:value="${dia}" th:text="${dia.nombre}" class="boton-dia" disabled></button>
                </div>
            </div>
            <form>
                <div class="form-palcos-alinear">
                    <div class="form-palcos">
                        <div>
                            <label for="dia">Días</label>
                            <div th:each="dia : ${dias}">
                                <input type="checkbox" th:text="${dia.nombre}" class="checkbox-dia" name="dia"
                                    th:value="${dia}">
                            </div>
                        </div>
                        <div class="palcos ">
                            <div class="grid-palcos">

                                <div th:each="palco,stat:${palcos}" th:if="${stat.index<4}">
                                    <label for="">

                                        <input type="checkbox" th:value="${palco.id}" th:text="${palco.codigo}"
                                            class="palco">
                                    </label>
                                </div>
                            </div>
                            <div class="grid-palcos">

                                <div th:each="palco,stat:${palcos}" th:if="${stat.index>=4}">
                                    <label for="">

                                        <input type="checkbox" th:value="${palco.id}" th:text="${palco.codigo}"
                                            class="palco">
                                    </label>
                                </div>
                            </div>

                        </div>

                    </div>

                    <input type="submit" class="submit" value="Reservar">
                </div>
            </form>

        </div>
    </main>
    <footer th:replace="~{layout :: footer}"></footer>

</body>
<div th:replace="~{layout :: modal}"></div>
<script>
    const modal = document.getElementById("modal");
    const mensaje = document.getElementById("modalMensaje");
    const cerrar = document.getElementById("cerrarModal");
    function mostrarMensaje(texto) {
        mensaje.textContent = texto;
        modal.style.display = "flex";
    }

    cerrar.addEventListener("click", () => {
        modal.style.display = "none";
    });

</script>
<script th:inline="javascript">
    const reservasHechas = /*[[${reservasHechas}]]*/[];

    let reservas = {};
    let diaActual = null;

    const checkboxes = document.querySelectorAll(".checkbox-dia");
    const botones = document.querySelectorAll(".boton-dia");
    const palcos = document.querySelectorAll(".palco");
    const mapa = document.querySelector(".palcos");
    const formulario = document.querySelector("form");


    for (let index = 0; index < checkboxes.length; index++) {
        checkboxes[index].addEventListener('change', function () {
            botones[index].disabled = !this.checked;
            if (!checkboxes[index].checked) {
                mapa.style.display = 'none';
                delete reservas[checkboxes[index].value];
            }
        })
    }

    for (let i = 0; i < botones.length; i++) {
        botones[i].addEventListener("click", function () {
            diaActual = this.value;
            if (!reservas[diaActual]) {
                reservas[diaActual] = [];
            }
            for (let x = 0; x < palcos.length; x++) {

                palcos[x].disabled = false;
                palcos[x].checked = false;
            }
            for (let y = 0; y < palcos.length; y++) {
                for (let z = 0; z < reservas[diaActual].length; z++) {
                    if (palcos[y].value == reservas[diaActual][z]) {
                        palcos[y].checked = true;
                    }
                }
            }
        });
    }

    for (let y = 0; y < palcos.length; y++) {
        palcos[y].addEventListener('change', function () {
            if (this.checked) {
                reservas[diaActual].push(this.value);
            }
            else {
                reservas[diaActual] = reservas[diaActual].filter(id => id !== this.value);
            }
        })

    }

    for (let i = 0; i < botones.length; i++) {
        botones[i].addEventListener('click', function () {

            mapa.style.display = 'block';
            for (let y = 0; y < reservasHechas.length; y++) {

                if (reservasHechas[y].dia == botones[i].value) {
                    for (let x = 0; x < palcos.length; x++) {
                        if (reservasHechas[y].palco.id == Number(palcos[x].value)) {
                            palcos[x].disabled = true;

                        }

                    }
                }
            }
        })
    }
    formulario.addEventListener("submit", async function (e) {
        e.preventDefault();
        const respuesta = await fetch("/reservar", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(reservas)
        });

        if (respuesta.ok) {
            const texto = await respuesta.text();
            mostrarMensaje(texto);
            cerrar.href = '/';
        } else {
            const texto = await respuesta.text();
            mostrarMensaje(texto);
            cerrar.href = '/reservar';

        }
    });


</script>

</html>